.home-content {
  padding: 75px 50px;
}

.home-summary {
  display: flex;
  background-color: #eaeaea;
  padding: 50px 40px;
  justify-content: space-around;
}

.summary-headers {
  text-align: center;
}

.subheader {
  color: cadetblue;
}

.summary-text {
  width: 70%;
  margin: 50px auto;
}

.summary-list {
  padding: 0;
  list-style: square;
}

.summary-list li {
  margin: 15px 0;
}

.broad-search {
  margin-top: 50px;
}

.summary-img {
  width: 45vw;
}

.search-bar-large {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #878888;
  overflow: hidden;
  box-sizing: border-box;
  height: 60px;
  width: 60vw;
  margin: 0 auto;
}

.search-bar-large input {
  height: inherit;
  width: inherit;
  border: none;
  padding: 8px;
  font-size: 1.2rem;
}

.search-bar-large input:focus {
  outline: none !important;
}

.search-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 100px;
}

.grid-item {
  text-align: center;
}
